@font-face {
  font-family: "iconfont"; /* Project id 2820732 */
  src: url('iconfont.woff2?t=1631870993280') format('woff2'),
       url('iconfont.woff?t=1631870993280') format('woff'),
       url('iconfont.ttf?t=1631870993280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saomiao:before {
  content: "\e64d";
}

